{% extends "base.html" %}
{% block title %}
Home - {{ super() }}
{% endblock %}
{% block content %}
<!-- TITLE -->
<section>
    <div class="jumbotron text-center blue-grey lighten-5">
        <!-- Title -->
        <h1 class="card-title h1">Student Hackathon Association at Reykjavik University</h1>
        <!-- Subtitle -->
        <p class="my-4 h4">Lingó Hack 2020 is coming to RU!</p>
    </div>
</section>

<!-- UPCOMING EVENTS -->
<section class="my-5">
    <div class="container text-center">
        <h2 class="h2">Upcoming Events</h2>
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="https://www.lingohack.is/img/share_image.png" alt="Lingó Hack 2020">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Lingó Hack 2020</a></h4>
                        <!-- Text -->
                        <p class="card-text">Langauge Technology Hackathon</p>
                        <p class="card-text">25.-26. April 2020</p>
                        <!-- Button -->
                        <a href="https://lingohack.is/" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</section>
<!-- ABOUT US -->
<section class="m-0 py-5 blue-grey lighten-5 shadow-sm">
    <div class="container text-center">
        <h2 class="h2">About Us</h2>
        <div class="row">
            <div class="col align-self-center">
                <p class="h5">
                    Student Hackathon Association at Reykjavik University (NHVHR) organizes hackathons for any
                    university/college student. At these events, these students gather together to collaborate, innovate, learn, and
                    experiment while creating a project from scratch within 24 hours. </p>
                <p class="h5">
                    SHARU will provide students all the resources they need, from hardware and APIs to workshops,
                    sponsors, and volunteers who can help you with whatever questions the students might have. In a few
                    words, you come here to these events to have fun, learn about things you didn’t even know existed,
                    and see your ideas come to life. We encourage all college or university students from any faculty to
                    participate in our events.</p>
                <p class="h5">
                    If you are are interesting organizing or becoming a volunteer, please dont hesitate to contact us.
                </p>

            </div>
        </div>
    </div>
</section>

<!-- Organizer -->
<section class="m-0 py-5 shadow-sm">
    <div class="container text-center">
        <h2 class="h2 mb-3">Organizer 2019 - 2020</h2>
        <!-- Grid row -->
        <div class="row mt-0 mb-lg-3">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Egill Anton Hlöðversson</a></h4>
                        <!-- Text -->
                        <p class="card-text">Managing Director</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Eygló María Björnsdóttir</a></h4>
                        <!-- Text -->
                        <p class="card-text">Financial Manager</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>David Erik Mollberg</a></h4>
                        <!-- Text -->
                        <p class="card-text">Technical Manager</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row my-0    ">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Gabríela Jóna Ólafsdóttir</a></h4>
                        <!-- Text -->
                        <p class="card-text">Marketing Manager</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title"><a>Stefán Örn Snæbjörnsson</a></h4>
                        <!-- Text -->
                        <p class="card-text">Information Manager</p>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</section>
<!-- FOOTER -->
<footer class="page-footer font-small blue-grey ">
    <!-- Footer Elements -->
    <div class="container">
        <div class="row text-cemter">
            <div class="col  align-self-center pt-5 pb-3">
                <p class="h4 text-center">Nemendafélag Hakkaþona við Háskólann í Reykjavík</p>
                <p class="h5 text-center">Menntavegur 1</p>
                <p class="h5 text-center">102 Reykjavík</p>
                <p class="h5 text-center">Iceland</p>
                <a href="mailto:nhhr@ru.is">
                    <p class="h5 text-center">nhvhr@ru.is</p>
                </a>
            </div>
        </div>
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/">Student Hackathon Association at Reykjavik
            University</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}